@font-face {
    font-family: dragon;
    src: url("/static/font/dragon.ttf");
  }
@font-face {
    font-family: sword;
    src: url("/static/font/sword.ttf");
  }

.text-button {
    font-family: "sword";
    font-size: 24px;
    cursor: pointer;
  }
body {
  margin: 0;
}
.select-radio {
  font-family: "sword";
  font-size: 24px;
}
ul::-webkit-scrollbar {
  display: none;
}